
header{
    width:100%;
    height:50px;
    padding: 10px 0;
    margin-bottom:20px;
}
header.header{
    background-color: var(--primary-color);
}
header ul li{
    float:left;
}
header .header__inner, main{
    max-width: 1000px;
    margin:auto;
}
.logo{
    float:left;
}
.logo__first-span{
    font-size:14px;
}
.logo__second-span{
    font-size:20px;
}
nav{
    float:right;
}
nav ul li a{
    color:#000;
    text-decoration: none;
    line-height:1.6;
    padding:10px 10px;
    float:left;
}
nav ul li a:hover{
    color:#000;
    text-decoration: none;
}
.grid_1,.grid_2{
    display: grid;
    grid-gap: 20px;
    margin: 20px;
    width:100%;
    margin:auto;
}
.grid_1{
    grid-template-columns: 100%;
}
.grid_2 {
    grid-template-columns: 50% 50%;
}
.grid__item img{
    width:100%;
}
.grid__item__inner{
    background-color:#fff;
    overflow: hidden;
    margin-bottom:20px;
}
.grid__item__inner a{
    color:#000;
    text-decoration: none;
}
.grid__item__inner img,
.grid__item__inner .grid__item__text{
    float:left;
}
.grid__item__inner img{
    width:30%;
}
.grid__item__inner .grid__item__text{
    width:66%;
    padding:2%;
}
.grid__item__inner .grid__item__text h1{
    font-size:28px;
    margin-bottom: 10px;
}
.grid__item__inner .grid__item__text .grid__item__date{
    font-weight: 600;
    margin-bottom:10px
}
table{
    margin-bottom:10px;
}
table tr th{
    font-weight: bold;
}
table tr th,
table tr td{
    text-align:left;
    padding:10px;
    border:1px solid #000;
}
.button-floating{
    position:fixed;
    left:50%;
    bottom:5%;
    width:150px;
    margin-left:-75px;
    border:0;
    border-radius:30px;
    background-color: var(--primary-color);
    padding:20px;
}
.button-floating a{
    color:#000;
    text-decoration: none;
    padding:2px;
}