
header{
    width:100%;
    float:left
}
.header{
    background-color: var(--primary-color);
}
header ul li{
    float:left;
}
.grid_1,.grid_2{
    display: grid;
    grid-gap: 20px;
    margin: 20px;
    width:100%;
    margin:auto;
}
.grid_1{
    grid-template-columns: 100%;
}
.grid_2 {
    grid-template-columns: 50% 50%;
}
.grid__item {
    padding:20px;
}
.grid__item img{
    width:100%;
}
table{
    margin-bottom:10px;
}
table tr th{
    font-weight: bold;
}
table tr th,
table tr td{
    text-align:left;
    padding:10px;
    border:1px solid #000;
}