@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;700&display=swap');

h1,h2, .subtitle{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height:120%;
}

h1{
    font-size:31.5px;
}
h2{
    font-size:25px;
}
h3{
    font-family: 'IBM Plex Sans Bold', sans-serif;
    font-size:20px;
    line-height:120%;
}
.subtitle{
    font-size:16px;
}

.header-bg{
    background-color:#FFCC00
}
header{
    width:100%;
    float:left
}
header ul li{
    float:left;
}
.grid-1,.grid-2{
    display: grid;
    grid-gap: 20px;
    margin: 20px;
    width:100%;
    margin:auto;
}
.grid-1{
    grid-template-columns: 100%;
}
.grid-2 {
    grid-template-columns: 50% 50%;
}
.grid-item {
    padding:20px;
}
.grid-item img{
    width:100%;
}
table{
    margin-bottom:10px;
}
table tr th{
    font-weight: bold;
}
table tr th,
table tr td{
    text-align:left;
    padding:10px;
    border:1px solid #000;
}